# Django Settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database Settings (Docker)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# Redis & Celery
REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Media & Static
MEDIA_URL=/media/
MEDIA_ROOT=media
